@font-face {
		font-family: 'richardson';
		src: url(../fonts/richardson.ttf);
}

label.valid {
  width: 24px;
  height: 24px;
  display: inline-block;
  text-indent: -9999px;
}

label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}

a {
	text-decoration: none;
	color: black;
}

.top_bump {
	margin-top: 10px;
}

#standings {
	margin-top: 20px;
}

#schedule_table {
    border: 1px solid #ddd;
    border-collapse: separate;
    *border-collapse: collapse;
    border-left: 0;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.week_banner {
    background-image: -moz-linear-gradient(top, #a3cadf, #8dbdd8);
	background-image: -ms-linear-gradient(top, #a3cadf, #8dbdd8);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a3cadf), to(#8dbdd8));
	background-image: -webkit-linear-gradient(top, #a3cadf, #8dbdd8);
	background-image: -o-linear-gradient(top, #a3cadf, #8dbdd8);
	background-image: linear-gradient(to bottom, #a3cadf, #8dbdd8);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a3cadf', endColorstr='#8dbdd8', GradientType=0);
    border-bottom: 1px #ddd solid;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.game_banner {
	background-color: #f9f9f9;
	border-bottom: 1px solid #dddddd;
}

.game_row {
	background-color: #fff;
}

#schedule_table th,
#schedule_table td {
    border-left: 1px solid #dddddd;
    padding: 10px 0;
    text-align: center;

}

#mytable th, #mytable td {
	text-align: center;
}

#contact_pop td {
	font-size: 1em!important;
	border: 0;
	padding: 5px 5px;
}

#team_form input, #score_form input{
	height: 30px;
}

#zip {
	width: 176px;
}

a {
	cursor: pointer;
}

body.nix_is_hidden .nix {
  display: none;
}

#bigolhead {
	font-family: richardson;
	color: #e6eeee;
}

body {
	background-image: url("../../images/baseball-backgrounds-wallpapers.jpg");
}

/* #schedule_table {
 	background-color: #fff;
}*/

 .modal-body {
    max-height: 600px;
}

input {
    text-align: center;
}

.score_labels {
	margin-left: 100px;
}

.score_input {
	width: 90px; 
	margin-left: 20px;
}

#backdrop {
	height: 437px;
	background-color:rgba(255,255,255,0.6);
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 15px;
}

#score_form {
	margin-top: 0;
}

